@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: normal;
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

* {
    font-size: 0.85rem;
    line-height: 1.3;
}

a {
    font-size: 1em;
    text-decoration: underline;
}

.subtitle {
    font-size: 0.875em;
    margin-bottom: 1em;
}

code {
    font-family: monospace;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.875em;
}